* {
    margin: 0;
    padding: 0;
}

html,
body{
    margin:20px;
    background: #fffc5a;
    color:rgb(18, 18, 18);
}

.main{
    display:flex;
    flex-direction: column;
    gap:60px;
    justify-content: center;
}


 
  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container {
    position: relative; 
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, 4vw, 70px);
    justify-content: flex-start;
    align-items: flex-start;
    padding-inline: clamp(1rem, 4vw, 5rem);
  }
  

  

  .researchQ {
    font-size: 3vw;
    line-height: 1.3;
  }

  .researchQheading {
    font-size: 1.3vw;
    width: 15vw;
    flex-shrink: 0;
    align-self: flex-start;
    margin-top: 1.3%;
  }
  
  .h1 {
    width: 15vw;
    font-size: 2.5vw;
  }
  
  .h2 {
    font-size: 2vw;
  }
  
  .h3 {
    width: 15vw;
    font-size: clamp(12px, 2vw, 18px);
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2vw, 3rem); 
  }
  
  
  .paragraph {
    font-size: clamp(12px, 2vw, 18px);
    line-height: 1.6;
    max-width: 90%;
  }
  

  #part01Container{
    margin-top: 30px;
  }

  #part01{
    font-size: 21px;
    width:90%;
  }
  
  .hover-trigger {
    cursor: pointer;
    text-decoration: underline dotted;
    font-weight:500;
    color:purple;
  }
  
  .image-float {
    position: absolute;
    /* top: 50%; */
    /* left: calc(100% + 40px); */
    right:0;
    transform: translateY(-50%);
    display: none;
    width: 250px;
    z-index: 1000;
  }
  
  .hover-container {
    /* position: relative; */
    display: inline-block;
  }
  
 .hover-trigger:hover ~ .image-float {
  display: block;
}
  
  
  .hover-image {
    width: 90%;
    box-shadow: 10px 10px 10px rgba(92, 92, 92, 0.6);
    
   
  }
  